# Todos los apiKey serán borrados en pocas horas. Están disponible solo para efectos del reto técnico
URL_SWAPI_FILMS=https://swapi.py4e.com/api/films/
URL_SWAPI_PEOPLE=https://swapi.py4e.com/api/people/
URL_SWAPI_PLANETS=https://swapi.py4e.com/api/planets/
URL_SWAPI_SPECIES=https://swapi.py4e.com/api/species/
URL_SWAPI_STARTSHIPS=https://swapi.py4e.com/api/starships/
URL_SWAPI_VEHICLES=https://swapi.py4e.com/api/vehicles/

DB_HOST=192.145.239.40
DB_PORT=3306
DB_NAME=ensolu7_aws_node_backend
DB_USERNAME=ensolu7_user_test_aws_node
DB_PASSWORD=&!8kvE7oOzhH5LyW49H7NFXD^1H5opP4lefS%&6!M2fZ!%izVEiZ&FxuGJo
DB_SSLMODE=require
OPENAI_API_KEY=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
